* {
    font-family: 'Slabo 27px', serif;

}

nav {
    text-align: center;
    word-spacing: 60px;
    text-decoration: none;
    border: 10px outset grey;
    background: mediumblue;
    font-size: 1em;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:10px;
}

.links {
    text-decoration: none;
    border: 2px solid lightslategray;
    background: whitesmoke;
    color: black;
    border-radius: 5px;
    letter-spacing: 2px;
    padding: 4px 10px;
}

body {
    background: darkgray;
    margin: 0;
    padding: 0;
    width: 100%;
}

.links:hover {
    background-color: darkorange;
    color: whitesmoke;
}

.columns {
    display:flex;

}

.column1 {
    background-color: whitesmoke;
    width: 50%;
    border: 5px solid mediumblue;
    margin: 10px;



}
.column2 {
    background-color: whitesmoke;
    width: 50%;
    border: 5px solid mediumblue;
    margin: 10px;

}

.maintitle{
    background-color: darkorange;
    padding: 5px;
    color: whitesmoke;
    height: 50px;

}